/* HEADER AND THEME SELECTORS */

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    margin: -10px;
    background-color: rgba(124, 194, 255);
    border-bottom: 1px solid black;
}

.title {
    margin-left: 25px;
}

.colour-selectors {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60px;
}

.colour-selector {
    border: 1px solid black;
    border-left: 0;
}

.colour-selector:hover {
    cursor: pointer;
}

.selector-red {

    background-color: rgb(255, 124, 124);
}

.selector-blue {
    background-color: rgb(124, 194, 255);
}

.selector-green {
    background-color: rgb(182, 246, 182);
    border-bottom: 0;
}


/*  NAV BAR */
.brand-selectors {
    display: flex;
    margin: 50px auto;
    background-color: rgb(224, 224, 224);
    width: 80%;
    padding: 0;
}

.brand-selector {
    border: 1px solid rgb(156, 156, 156);
    border-right: 0;
    height: 100%;
    padding: 5px 30px;
    border-radius: 10px 0 0 0;
    margin-right: -12px;
}

.brand-selector:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.brand-selector-current {
    border: 1px solid rgba(156, 156, 156);
    background-color: rgba(124, 194, 255);
    border-radius: 10px 10px 0 0;
    z-index: 10;
}