
.header {
    background-color: rgba(124, 194, 255);
}

.brand-selectors {
    background-color: rgba(124, 194, 255);
}

button {
    background-color: rgba(124, 194, 255);
    border: 1px solid rgba(156, 156, 156);
}