/* HEADER AND THEME SELECTORS */

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    margin: -10px;
    border-bottom: 1px solid black;
    overflow: hidden;
}


.colour-selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 120px;
    transform: translateX(60px);
    transition: 0.3s;
}

.colour-selectors:hover {
    transform: translateX(0px);
    overflow: hidden;
}

.colour-selector {
    border: 1px solid black;
    border-left: 0;
}

.colour-selector:hover {
    cursor: pointer;
}




.selector-red {
    background-color: rgb(255, 124, 124);
}

.selector-blue {
    background-color: rgb(124, 194, 255);
    border-bottom: 0;
}

.selector-green {
    background-color: rgb(182, 246, 182);
}

.selector-orange {
    background-color: rgb(246, 226, 182);
}

.selector-yellow {
    background-color: rgb(255, 250, 176);
}

.selector-purple {
    background-color: rgb(246, 182, 245);
    border-bottom: 0;
}

/* Landing Modal */
.landing-modal {
    border: 1px solid black;
    width: 50%;
    height: 500px;
    position: absolute;
    /* backdrop-filter: blur(10px) */
}


.title {
    margin-left: 25px;
}




/*  NAV BAR */
.brand-selectors {
    display: flex;
    margin: 50px auto 0;
    background-color: rgba(124, 194, 255, 0.5);
    max-width: 1003px;
    padding: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border-left: 1px solid rgb(156, 156, 156);
    border-right: 1px solid rgb(156, 156, 156);
    
}

.brand-selector {
    border: 1px solid rgb(156, 156, 156);
    border-bottom: 0;
    border-left: 0;
    height: 100%;
    padding: 5px 64px;
    border-radius: 0 10px 0 0;
    margin-left: -15px;
}

.brand-selector:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.brand-selector-current {
    border: 2px solid rgba(156, 156, 156);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    font-weight: bolder;
    padding: 5px 75px;
}

/* CAR WINDOW */


.container {
    /* display: flex; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    max-width: 1003px;
    min-width: 1000px;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
}

.cars-window {
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
    height: 700px;
    padding: 0;
    border: 1px solid rgba(156, 156, 156);
    border-radius: 0 0 10px 10px;
}

.cars-window-audi {
   display: block
}

.cars-window-bmw {
    display: none;

}

.cars-window-mercedes {
    display: none;
}

.cars-window-jaguar {
    display: none;
}

.cars-window-ford {
    display: none;
}

.cars-window-mazda {
    display: none;
}

/* Inner Window */

.cars-window-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.car-title {
    font-size: 20px;
    text-align: center;
}

.cars-content {
    border: 1px solid rgba(156, 156, 156);
    width: 45%;
    height: 90%;
    
}

.cars-content-list {
    overflow-y: scroll;
}

.car-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-list {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.501);
    width: 80%;
    margin: 10px 0 0 0;
    
}

.cars-content-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-add {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 25px;
}

input {
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover {
    cursor: pointer
}

.submit {
    grid-column: 1 / -1;
    width: 150px;
    padding: 5px 0;
    margin: 0 0 0 auto;
    border: 1px solid rgba(156, 156, 156);
    border-radius: 3px;
}

.delete-form {
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: end;
    flex-direction: row-reverse;
}

.list-btn {
    width: 100px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(156, 156, 156);
    border-left: 1px solid rgba(156, 156, 156);
    border-right: 1px solid rgba(156, 156, 156);
    border-top: 0;
    margin-bottom: 15px;
}

.delete-btn {
    border-radius: 0 0 0 0;
    border-right: 0;
}

.sort-btn {
    border-radius: 0 0 0 6px;
}




ul {
    list-style: none
}

/* Edit page */
.return-btn {
    border: 0;
    width: 100%;
    height: 100%;
}

.edit-btns {
    border-left: 1px solid rgba(156, 156, 156, 0.501);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.exit-form {
    margin-left: auto;
    border-radius: 0 6px 0 0;
    border: 0;
    border-left: 1px solid rgba(156, 156, 156);
    width: 200px;
}

.container-edit {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    max-width: 600px;
    min-width: 600px;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
}

.car-lists-edit {
    display: grid;
    grid-template-columns: 5fr 1fr;
    /* background-color: red; */
    /* grid-gap: 20px; */
}

.car-list-edit {
    
    padding: 0px;
    margin: 15px 0 0 50px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.501);
}

.edit-btn-link {
    height: 23px;
    margin: 0 50px 5px
}
.cars-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
