/* HEADER AND THEME SELECTORS */

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    margin: -10px;
    background-color: rgba(124, 194, 255);
    border-bottom: 1px solid black;
}

.title {
    margin-left: 25px;
}

.colour-selectors {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60px;
}

.colour-selector {
    border: 1px solid black;
    border-left: 0;
}

.colour-selector:hover {
    cursor: pointer;
}

.selector-red {

    background-color: rgb(255, 124, 124);
}

.selector-blue {
    background-color: rgb(124, 194, 255);
}

.selector-green {
    background-color: rgb(182, 246, 182);
    border-bottom: 0;
}


/*  NAV BAR */
.brand-selectors {
    display: flex;
    margin: 50px auto 0;
    background-color: rgba(124, 194, 255, 0.5);
    width: 80%;
    padding: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.brand-selector {
    border: 1px solid rgb(156, 156, 156);
    border-bottom: 0;
    border-right: 0;
    height: 100%;
    padding: 5px 67px;
    border-radius: 10px 0 0 0;
    margin-right: -12px;
}

.brand-selector:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.brand-selector-current {
    border: 2px solid rgba(156, 156, 156);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    font-weight: bolder;
    padding: 5px 70px;
}

/* CAR WINDOW */

.cars-window {
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
    width: 79.8%;
    height: 700px;
    padding: 0;
    
    border: 1px solid rgba(156, 156, 156);
}

.cars-window-audi {
   display: block
}

.cars-window-bmw {
    display: none;

}

.cars-window-mercedes {
    display: none;
}

.cars-window-jaguar {
    display: none;
}

.cars-window-ford {
    display: none;
}

.cars-window-mazda {
    display: none;
}

/* Inner Window */

.cars-window-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.car-title {
    font-size: 20px;
    text-align: center;
}

.cars-content {
    border: 1px solid rgba(156, 156, 156);
    width: 45%;
    height: 90%;
    
}

.form-add {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin: 50% 20px;
}

input {
    margin-bottom: 10px;
    font-size: 20px;
}

.submit {
    grid-column: 1 / -1;
    width: 150px;
    margin: 0 0 0 auto;
    border: 1px solid rgba(156, 156, 156);
    border-radius: 3px;
}

ul {
    list-style: none
}