.header {
    background-color: rgb(255, 250, 176);
}

.brand-selectors {
    background-color: rgb(255, 250, 176);
}

button {
    background-color: rgb(255, 250, 176);
    border: 1px solid rgba(156, 156, 156);
}